name: Deploy docs

on:
  push:
    branches:
    - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - run: npm ci

    - run: npm run build
      env:
        TURBO_TOKEN: 0Dy9BvKMTcodqkDefKD3djML
        TURBO_TEAM: steinmurilo-projects

    - name: Deploy storybook
      working-directory: ./packages/docs
      run: touch storybook-static/.nojekyll && npm run deploy-storybook -- --ci --existing-output-dir=storybook-static
      env:
        GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}